{% load static %}
<script src="{% static 'theme/js/jquery.js' %}"></script>
<script src="{% static 'theme/js/popper.min.js' %}"></script>
<script src="{% static 'theme/js/bootstrap.min.js' %}"></script>
<script src="{% static 'theme/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'theme/js/wow.js' %}"></script>
<script src="{% static 'theme/js/appear.js' %}"></script>
<script src="{% static 'theme/js/mixitup.js' %}"></script>
<script src="{% static 'theme/js/owl.js' %}"></script>
<script src="{% static 'theme/js/knob.js' %}"></script>
<script src="{% static 'theme/js/script.js' %}"></script>
